name: Merge Mate
on: workflow_dispatch
permissions:
  contents: write
  pull-requests: write
jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: gitkraken/merge-mate@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}